/**
 * Decrease size of the sidebar header
 */
*, html, body, html body, :root, #sidebar, #sidebar-box, .sidebar-panel, #root.root, #PlacesToolbarItems .bookmark-item, #PlacesToolbarItems .tab-item, .sidebar-placesTreechildren::-moz-tree-cell-text, .sidebar-placesTreechildren, .form-control {
    font: 7pt "Lucida Sans", Classica !important;
    outline: 0px !important;
    border: 0px !important;
}

html, body, :root, #sidebar, #sidebar-box, .sidebar-panel, #root.root, #PlacesToolbarItems.bookmark-item, #PlacesToolbarItems.tab-item, .titlebar, .toolbar, #PlacesToolbar, #personal-bookmarks, #bookmarks-toolbar-button, #navigator-toolbox, #nav-bar, #library {
    background-color: #1a1920 !important;
    outline: 0px !important;
    border: 0px !important;
}

@-moz-document url-prefix("moz-extension://4bfeee63-c7b3-4bb9-a7df-a2c0fd73eec0") {
    *, html, body, html body, #root, :root, .Tab .title, .main-items .nav-item .len {
    font-size: 7pt !important;
    font-family: "Lucida Sans", "Classica" !important;
    --tabs-font: 7pt "Lucida Sans", "Classica" !important;
    background-color: #1a1920 !important;
    outline: 0px !important;
    border: 0px !important;
    }
}

/* extension icons opacity and fade */

#nav-bar toolbarbutton {
    filter: grayscale(100%) !important;
    opacity: 0.3 !important;
    transition: transform 200ms ease 0.5s, opacity 200ms ease 0.5s !important;
}

#nav-bar toolbarbutton:hover {
    filter: grayscale(0%) !important;
    opacity: 1 !important;
    transition-duration: 200ms !important;
    transition-delay: 0s !important;
}

#sidebar-header toolbarbutton {
    filter: grayscale(100%) !important;
    opacity: 0 !important;
    transition: transform 200ms ease 0.5s, opacity 200ms ease 0.5s !important;
    min-width:150px !important;
    align: center !important;
}
#sidebar-header toolbarbutton:hover {
    filter: grayscale(0%) !important;
    opacity: 1 !important;
    transition-duration: 200ms !important;
    transition-delay: 0s !important;
    min-width:150px !important;
    align: center !important;
}

.close-icon {width:0px !important;}

/* --- */


/* hide address bar bloat */
    #tracking-protection-icon-container { display: none; }
    #identity-box { display: none; }
    #reader-mode-button { display: none; }
    #pageActionButton { display: none; }
    #pocket-button { display: none; }
    #star-button { display: none; }
    #urlbar-zoom-button { display: none; }
/* --- */

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button { display: none; }

/* Bottom left page loading status or url preview */
/* #statuspanel { display: none !important; } */


/* hide address bar*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_main_toolbar.css made available under Mozilla Public License v. 2.0
 S ee the above repository for updates as well as full license text. */                                                            *

 /* This style hides the main toolbar and shows it when the cursor is over the tabs toolbar as well as whenever the focus is inside nav-bar, such as when urlbar is focused. */

 :root{ --uc-navbar-transform: -40px }
 :root[uidensity="compact"]{ --uc-navbar-transform: -4px }


 #navigator-toolbox > div{ display: contents; }
 :root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
     transform: translateY(var(--uc-navbar-transform))
 }
 :root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
     transform: none !important;
     opacity: 1 !important;
 }

 #nav-bar, #nav-bar-customization-target {
 height: 30px !important;
 }

 #nav-bar-content, #nav-bar-content {
 height: 20px !important;
 margin-top: 4px !important;
 }

 #urlbar {
     width: 300px !important;
     padding-left: 10px !important;
     padding-right: -10px !important;
     left: -50px !important;
}

 #nav-bar:not([customizing]){
 opacity: 0;
 transition:  transform 400ms ease 1.5s, opacity 400ms ease 1.5s !important;
 position: relative;
 z-index: 2;
 }
 #titlebar{ position: relative; z-index: 3 }

 /* Show when toolbox is focused, like when urlbar has received focus */
 #navigator-toolbox:focus-within > .browser-toolbar{
 transform: translateY(0);
 opacity: 1;
 transition-duration: 500ms, 200ms !important;
 transition-delay: 0s !important;
 }
 /* Show when toolbox is hovered */
 #titlebar:hover ~ .browser-toolbar,
 #nav-bar:hover,
 #nav-bar:hover + #PersonalToolbar{
 transform: translateY(0);
 opacity: 1;
 transition-duration: 500ms, 200ms !important;
 transition-delay: 0s !important;
 }
 /* This ruleset is separate, because not having :has support breaks other selectors as well */
 #mainPopupSet:has(> #appMenu-popup:hover) ~ #navigator-toolbox > .browser-toolbar{
 transition-delay: 33ms !important;
 transform: translateY(0);
 opacity: 1;
 background-color: #1a1920 !important;
 }

 /* Bookmarks toolbar needs so extra rules */
 #PersonalToolbar{ transition: transform 400ms ease 1.5s !important; position: relative; z-index: 1; background-color: #1a1920 !important; }

 /* Move up the content view */
 :root[sessionrestored]:not([inFullscreen],[chromehidden~="toolbar"]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

/* --- end hide --- */



#sidebar-header {color: #1a1920 !important;
font-size: 1.2em !important;
font-family: "Dumbledor 3", Times New Roman !important;
padding: 2px 6px 2px 3px !important;
}
#sidebar-header #sidebar-close {
padding: 3px !important;
}
#sidebar-header #sidebar-close .toolbarbutton-icon {
width: 0px !important;
height: 0px !important;
opacity: 0.6 !important;
}

#TabsToolbar {
font-size: 0.8em !important;
font-family: "Troglodyte" !important;
display: none;
}


/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
 *See the above repository for updates as well as full license text. */

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

#sidebar-box{
--uc-sidebar-width: 30px;
--uc-sidebar-hover-width: 180px;
--uc-autohide-sidebar-delay: 600ms; /* Wait 0.6s before hiding sidebar */
--uc-autohide-transition-duration: 115ms;
--uc-autohide-transition-type: linear;
position: relative;
min-width: var(--uc-sidebar-width) !important;
width: var(--uc-sidebar-width) !important;
max-width: var(--uc-sidebar-width) !important;
z-index:1;
}

#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

#sidebar-splitter{ display: none }

#sidebar-header{
overflow: hidden;
color: var(--chrome-color, inherit) !important;
padding-inline: 0 !important;
}

#sidebar-header::before,
#sidebar-header::after{
content: "";
display: flex;
padding-left: 8px;
}

#sidebar-header,
#sidebar{
transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
min-width: var(--uc-sidebar-width) !important;
will-change: min-width;
}
#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar{
min-width: var(--uc-sidebar-hover-width) !important;
transition-delay: 0ms !important;
}

.sidebar-panel{
    background-color: transparent !important;
    color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
    -moz-appearance: none !important;
    background-color: rgba(249,249,250,0.1) !important;
    color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header{
background-color: inherit !important;
border-inline: 1px solid rgb(80,80,80);
border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
margin-inline: 0px !important;
border-left-style: solid !important;
}
